In [9]:
import pandas as pd
from copy import deepcopy

In [2]:
data = pd.read_csv("D:/MyDatasets/ChurnModelling/data.csv")
df = deepcopy(data)
data.shape, df.shape

((10000, 14), (10000, 14))

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
unnecessory_features = ["RowNumber", "CustomerId", "Surname"] 
unnecessory_features

['RowNumber', 'CustomerId', 'Surname']

In [5]:
numerical_features = [
    feature for feature in df.columns if df[feature].dtype != "O" and len(df[feature].unique()) > 15 and feature not in unnecessory_features
    ]
categorical_features = [
    feature for feature in df.columns if feature not in numerical_features and feature not in unnecessory_features
    ]
print(f"numerical:{numerical_features}, count:{len(numerical_features)}")
print(f"categorical:{categorical_features}, count:{len(categorical_features)}")

numerical:['CreditScore', 'Age', 'Balance', 'EstimatedSalary'], count:4
categorical:['Geography', 'Gender', 'Tenure', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'Exited'], count:7

In [7]:
[print(feature) for feature in categorical_features if df[feature].dtype == "O"]
print()

Geography
Gender

In [8]:
df["Geography"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [9]:
df["Gender"].unique()

array(['Female', 'Male'], dtype=object)

In [2]:
print(f'''
{1},
{2},
{3}
''')

1,
2,
3

In [3]:
dictionary = {"key1":["str1", "str2", "str3"], "key2":["str1", "str2"]}
dictionary

{'key1': ['str1', 'str2', 'str3'], 'key2': ['str1', 'str2']}

In [7]:
for key, value in dictionary.items():
    base_val = ""
    count = 0
    for val in value:
        if count == 0:
            base_val = val
            count+=1
        else:
            base_val = base_val + " " + val 
    print(key+" "+base_val+",")

key1 str1 str2 str3,
key2 str1 str2,

In [17]:
df = pd.DataFrame([[1, 2,3, 4, 5],
                   [6, 7, 8,9, 10],
                   [11, 12, 13, 14, 15]], columns=['a', 'b', 'c', 'd', 'e'])
df

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

In [18]:
import numpy as np

In [32]:
list(zip(*[df[col] for col in df.columns]))

[(1, 2, 3, 4, 5), (6, 7, 8, 9, 10), (11, 12, 13, 14, 15)]

In [20]:
tuple(df.columns)

('a', 'b', 'c', 'd', 'e')

In [35]:
{col:pd.read_csv("D:/MyDatasets/ChurnModelling/data.csv")[col].dtype for col in pd.read_csv("D:/MyDatasets/ChurnModelling/data.csv").columns}

{'RowNumber': dtype('int64'),
 'CustomerId': dtype('int64'),
 'Surname': dtype('O'),
 'CreditScore': dtype('int64'),
 'Geography': dtype('O'),
 'Gender': dtype('O'),
 'Age': dtype('int64'),
 'Tenure': dtype('int64'),
 'Balance': dtype('float64'),
 'NumOfProducts': dtype('int64'),
 'HasCrCard': dtype('int64'),
 'IsActiveMember': dtype('int64'),
 'EstimatedSalary': dtype('float64'),
 'Exited': dtype('int64')}